flows.json
[
    {
        "id": "b6c49126b53c3f19",
        "type": "tab",
        "label": "MeldungErstellen",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89825a0049521b38",
        "type": "tab",
        "label": "MeldungSichten",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8149379c027f98bb",
        "type": "tab",
        "label": "MachineView",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74fddf0e9298beb9",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "302e3287f635dd2e",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "53322e71394a01b8",
        "type": "ui-page",
        "name": "add",
        "ui": "74fddf0e9298beb9",
        "path": "/add",
        "icon": "home",
        "layout": "grid",
        "theme": "302e3287f635dd2e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b4e4776019c59a5c",
        "type": "ui-group",
        "name": "Meldung_erstellen",
        "page": "53322e71394a01b8",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "439b1ef45daa8130",
        "type": "ui-page",
        "name": "view",
        "ui": "74fddf0e9298beb9",
        "path": "/view",
        "icon": "home",
        "layout": "grid",
        "theme": "302e3287f635dd2e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8cfee7582093513a",
        "type": "ui-group",
        "name": "Description",
        "page": "439b1ef45daa8130",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c2965404f06022d6",
        "type": "ui-group",
        "name": "Meldung sichten",
        "page": "439b1ef45daa8130",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e0f2f8f3f2a64b7a",
        "type": "ui-page",
        "name": "machine",
        "ui": "74fddf0e9298beb9",
        "path": "/machine",
        "icon": "",
        "layout": "grid",
        "theme": "302e3287f635dd2e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6a8a3a5f0b7f4e2b",
        "type": "ui-group",
        "name": "MQTT Verbindung",
        "page": "e0f2f8f3f2a64b7a",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2a1a2c3d4e5f6789",
        "type": "ui-group",
        "name": "Live Telemetrie",
        "page": "e0f2f8f3f2a64b7a",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f1b2c3d4e5f60718",
        "type": "ui-group",
        "name": "KPIs",
        "page": "e0f2f8f3f2a64b7a",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a1b2c3d4e5f6a7b8",
        "type": "ui-group",
        "name": "Historie",
        "page": "e0f2f8f3f2a64b7a",
        "width": 12,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "mqtt-broker-01",
        "type": "mqtt-broker",
        "name": "Factory MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dc45cb42a22584e0",
        "type": "ui-form",
        "z": "b6c49126b53c3f19",
        "name": "Meldung erstellen !",
        "group": "b4e4776019c59a5c",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Titel",
                "key": "Titel_Eingabe",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "ID",
                "key": "ID_Eingabe",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Art des Problems",
                "key": "Problem_Eingabe",
                "type": "dropdown",
                "required": true,
                "rows": null
            },
            {
                "label": "Beschreibung",
                "key": "Desc_Eingabe",
                "type": "multiline",
                "required": true,
                "rows": 3
            }
        ],
        "formValue": {
            "Titel_Eingabe": "",
            "ID_Eingabe": "",
            "Problem_Eingabe": "",
            "Desc_Eingabe": ""
        },
        "payload": "",
        "submit": "Absenden",
        "cancel": "Löschen",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "Problem_Eingabe",
                "value": "defect",
                "label": "Störung"
            },
            {
                "dropdown": "Problem_Eingabe",
                "value": "info",
                "label": "Information"
            },
            {
                "dropdown": "Problem_Eingabe",
                "value": "idea",
                "label": "Idee"
            }
        ],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "1b90d5f8ba36fa62"
            ]
        ]
    },
    {
        "id": "1b90d5f8ba36fa62",
        "type": "function",
        "z": "b6c49126b53c3f19",
        "name": "function 1",
        "func": "msg.payload = {\n    title: msg.payload.Titel_Eingabe,\n    id: msg.payload.ID_Eingabe,\n    problemType: msg.payload.Problem_Eingabe,\n    description: msg.payload.Desc_Eingabe\n};\n\n// Die HTTP-Anfrage vorbereiten\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.url = \"http://localhost:8000/add-message\";  // Ziel-URL \nmsg.method = \"POST\";  // HTTP-Methode POST\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "2d93b0f407df5e68"
            ]
        ]
    },
    {
        "id": "2d93b0f407df5e68",
        "type": "http request",
        "z": "b6c49126b53c3f19",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 180,
        "wires": [
            [
                "2ddb3a7e48c2f8cc"
            ]
        ]
    },
    {
        "id": "2ddb3a7e48c2f8cc",
        "type": "debug",
        "z": "b6c49126b53c3f19",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 180,
        "wires": []
    },
    {
        "id": "dcfd6f5032a35659",
        "type": "ui-text",
        "z": "89825a0049521b38",
        "group": "8cfee7582093513a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 400,
        "wires": []
    },
    {
        "id": "b9152c0be0023ef5",
        "type": "function",
        "z": "89825a0049521b38",
        "name": "function 2",
        "func": "msg.method = \"GET\";\nmsg.url = \"http://localhost:8000/messages\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "58adef30d20c46c9"
            ]
        ]
    },
    {
        "id": "58adef30d20c46c9",
        "type": "http request",
        "z": "89825a0049521b38",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "b967d936138bfecb"
            ]
        ]
    },
    {
        "id": "3fa9d75424b64ae4",
        "type": "ui-table",
        "z": "89825a0049521b38",
        "group": "c2965404f06022d6",
        "name": "Meldung sichten - Table",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "click",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 870,
        "y": 240,
        "wires": [
            [
                "bc9591cd8622b848",
                "47458af47e8faac5"
            ]
        ]
    },
    {
        "id": "7b60f4b9e27987f7",
        "type": "ui-event",
        "z": "89825a0049521b38",
        "ui": "74fddf0e9298beb9",
        "name": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "b9152c0be0023ef5"
            ]
        ]
    },
    {
        "id": "bc9591cd8622b848",
        "type": "function",
        "z": "89825a0049521b38",
        "name": "function 3",
        "func": "const row = msg.payload || {};\nconst full = flow.get(\"messages_full\") || [];\nconst selected = full.find(m => String(m.id) === String(row.id));\n\nif (!selected) {\n  node.warn(\"Keine vollständige Meldung zum Eintrag gefunden.\");\n  return null;\n}\n\nflow.set(\"selected\", selected);         // für Löschen usw.\nmsg.payload = selected.description || \"\"; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 400,
        "wires": [
            [
                "dcfd6f5032a35659"
            ]
        ]
    },
    {
        "id": "2f0e9052afe257b4",
        "type": "function",
        "z": "89825a0049521b38",
        "name": "function 4",
        "func": "let selected = flow.get(\"selected\");\nif (!selected) {\n    node.warn(\"Keine Meldung ausgewählt!\");\n    return null;\n}\n\nmsg.method = \"DELETE\";\nmsg.url = \"http://localhost:8000/messages/\" + selected.id;\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "28956bc620700e14"
            ]
        ]
    },
    {
        "id": "28956bc620700e14",
        "type": "http request",
        "z": "89825a0049521b38",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 520,
        "wires": [
            [
                "b9ccc1b55fc2686f",
                "b9152c0be0023ef5"
            ]
        ]
    },
    {
        "id": "b9ccc1b55fc2686f",
        "type": "function",
        "z": "89825a0049521b38",
        "name": "function 5",
        "func": "flow.set(\"selected\", null);\nmsg.payload = \"\";  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d924ebe04dfcb040",
        "type": "ui-button",
        "z": "89825a0049521b38",
        "group": "c2965404f06022d6",
        "name": "Löschen",
        "label": "Löschen",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 280,
        "y": 520,
        "wires": [
            [
                "2f0e9052afe257b4"
            ]
        ]
    },
    {
        "id": "2c72ba2097ae6d08",
        "type": "ui-button",
        "z": "89825a0049521b38",
        "group": "c2965404f06022d6",
        "name": "Akktualisieren",
        "label": "Akktualisieren",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "b9152c0be0023ef5"
            ]
        ]
    },
    {
        "id": "47458af47e8faac5",
        "type": "debug",
        "z": "89825a0049521b38",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 100,
        "wires": []
    },
    {
        "id": "b967d936138bfecb",
        "type": "function",
        "z": "89825a0049521b38",
        "name": "function 6",
        "func": "const full = Array.isArray(msg.payload) ? msg.payload : [];\nflow.set(\"messages_full\", full); \n\nconst rows = full.map(({ title, id, problemType, timestamp }) => ({\n  title, id, problemType, timestamp\n}));\n\nmsg.payload = rows;\nmsg.ui_control = {\n  columns: [\n    { field: \"title\", title: \"Titel\" },\n    { field: \"id\", title: \"ID\" },\n    { field: \"problemType\", title: \"Art\" },\n    { field: \"timestamp\", title: \"Zeit\" }\n  ]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 240,
        "wires": [
            [
                "3fa9d75424b64ae4"
            ]
        ]
    },
    {
        "id": "5d7f1e0b4a6c9d21",
        "type": "mqtt in",
        "z": "8149379c027f98bb",
        "name": "MQTT In: factory/machine1/telemetry",
        "topic": "factory/machine1/telemetry",
        "qos": "1",
        "datatype": "auto",
        "broker": "mqtt-broker-01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "0c2b3a1d5e6f7a8b"
            ]
        ]
    },
    {
        "id": "c0ffee1122334455",
        "type": "ui-switch",
        "z": "8149379c027f98bb",
        "name": "Pause Anzeige",
        "label": "Pause Anzeige",
        "group": "6a8a3a5f0b7f4e2b",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "ui/pause",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "bada55f00d123456"
            ]
        ]
    },
    {
        "id": "bada55f00d123456",
        "type": "change",
        "z": "8149379c027f98bb",
        "name": "flow.pause = msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "pause",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0c2b3a1d5e6f7a8b",
        "type": "function",
        "z": "8149379c027f98bb",
        "name": "Parse Telemetrie (JSON)",
        "func": "// Erwartet JSON wie {timestamp, temperature, vibration, state, good, bad}\nif (flow.get('pause')) return null;\n\nlet obj = msg.payload;\ntry {\n  if (typeof obj === 'string') obj = JSON.parse(obj);\n} catch (e) {\n  node.warn('Ungültiges JSON in Telemetrie');\n  return null;\n}\n\n// Fallback Timestamp\nobj.timestamp = obj.timestamp || new Date().toISOString();\n\n// Zahlentypen normalisieren\n['temperature','vibration','good','bad'].forEach(k=>{\n  if (obj[k] != null) obj[k] = Number(obj[k]);\n});\n\nmsg.telemetry = obj; // volle Daten separiert\nmsg.payload = obj;   // für einfache Widgets\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 160,
        "wires": [
            [
                "c1d2e3f4a5b6c7d8",
                "d1e2f3a4b5c6d7e8",
                "1122aabbccddeeff"
            ]
        ]
    },
    {
        "id": "c1d2e3f4a5b6c7d8",
        "type": "function",
        "z": "8149379c027f98bb",
        "name": "Berechne KPIs (Count/Fehlerquote)",
        "func": "const t = msg.telemetry || {};\nconst k = flow.get('kpi') || { good:0, bad:0 };\nif (Number.isFinite(t.good)) k.good += t.good;\nif (Number.isFinite(t.bad))  k.bad  += t.bad;\nk.total = k.good + k.bad;\nk.errorRate = k.total ? (k.bad / k.total) : 0;\nflow.set('kpi', k);\n\nreturn [{ payload: `Gut: ${k.good} | Schlecht: ${k.bad} | Quote: ${(k.errorRate*100).toFixed(1)}%` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 220,
        "wires": [
            [
                "7e8f9a0b1c2d3e4f"
            ]
        ]
    },
    {
        "id": "7e8f9a0b1c2d3e4f",
        "type": "ui-text",
        "z": "8149379c027f98bb",
        "group": "f1b2c3d4e5f60718",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "KPIs",
        "label": "KPIs",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#333333",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "d1e2f3a4b5c6d7e8",
        "type": "function",
        "z": "8149379c027f98bb",
        "name": "Live Werte formatieren",
        "func": "const t = msg.telemetry || {};\nconst parts = [];\nif (t.state != null) parts.push(`Status: ${t.state}`);\nif (Number.isFinite(t.temperature)) parts.push(`Temp: ${t.temperature.toFixed(1)} °C`);\nif (Number.isFinite(t.vibration)) parts.push(`Vib: ${t.vibration.toFixed(3)} g`);\nmsg.payload = parts.join(' | ');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 160,
        "wires": [
            [
                "f0e1d2c3b4a59687"
            ]
        ]
    },
    {
        "id": "f0e1d2c3b4a59687",
        "type": "ui-text",
        "z": "8149379c027f98bb",
        "group": "2a1a2c3d4e5f6789",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Live Telemetrie",
        "label": "Live Telemetrie",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#333333",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "1122aabbccddeeff",
        "type": "function",
        "z": "8149379c027f98bb",
        "name": "Historie datapoints",
        "func": "const t = msg.telemetry || {};\nconst ts = new Date(t.timestamp || Date.now());\nconst points = [];\nif (Number.isFinite(t.temperature)) points.push({series:\"temperature\", x: ts, y: t.temperature});\nif (Number.isFinite(t.vibration))  points.push({series:\"vibration\",  x: ts, y: t.vibration});\n\n// ui-chart expects [{series,x,y}, ...]\nmsg.payload = points;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "abcd1234efgh5678"
            ]
        ]
    },
    {
        "id": "abcd1234efgh5678",
        "type": "ui-chart",
        "z": "8149379c027f98bb",
        "group": "a1b2c3d4e5f6a7b8",
        "name": "Historie",
        "label": "Historie",
        "order": 1,
        "chartType": "line",
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [],
        "width": 12,
        "height": 6,
        "x": 1080,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "deadbeefcafefeed",
        "type": "ui-button",
        "z": "8149379c027f98bb",
        "group": "f1b2c3d4e5f60718",
        "name": "Reset KPIs",
        "label": "Reset KPIs",
        "order": 2,
        "width": 6,
        "height": 1,
        "emulateClick": false,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "beadedcab005e5e5"
            ]
        ]
    },
    {
        "id": "beadedcab005e5e5",
        "type": "change",
        "z": "8149379c027f98bb",
        "name": "flow.kpi = {good:0,bad:0}",
        "rules": [
            {
                "t": "set",
                "p": "kpi",
                "pt": "flow",
                "to": "{\"good\":0,\"bad\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 260,
        "wires": [
            []
        ]
    }
]